:root {
  --font-body: 'Work Sans', sans-serif;
  --font-heading: 'Crimson Text', serif;

  --color-primary: rgb(116, 198, 157, 1);
  --color-primary-75: rgb(116, 198, 157, 0.75);
  --color-primary-50: rgb(116, 198, 157, 0.5);
  --color-primary-25: rgb(116, 198, 157, 0.25);

  --color-white: rgba(255, 255, 255, 1);
  --color-white-75: rgba(255, 255, 255, 0.75);
  --color-white-50: rgba(255, 255, 255, 0.5);
  --color-white-25: rgba(255, 255, 255, 0.25);

  --color-dark: rgba(33, 37, 41, 1);
  --color-dark-75: rgba(33, 37, 41, 0.75);
  --color-dark-50: rgba(33, 37, 41, 0.5);
  --color-dark-25: rgba(33, 37, 41, 0.25);
}

body {
  font-family: var(--font-body);
  font-size: 15px;
  font-weight: normal;
  line-height: 125%;
}
h1,
h2,
h3 {
  font-family: var(--font-heading);
  font-weight: bold;
  line-height: 125%; /* 50px 1.25 */
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 28px;
}

.container {
  max-width: 1180px;
  margin: 0 auto; /* 0 auto 0 auto */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav {
  display: flex;
  gap: 30px;
}
header a {
  color: var(--color-white);
  text-decoration: none;
}
header a:hover {
  text-decoration: underline;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}
